<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Vue Js: V-If e Cicli For</h1>
        <hr>
        <div id="app">
            <template v-for="num in 3">
                <ul>
                    <li v-for="(colore,index) in colori">{{ index }} : {{ colore }}</li>
                </ul>
            </template>

            <h2>Articoli</h2>
            <hr>
            <ul>
                <li v-for="(articolo,index) in articoli">
                    Articolo Numero : {{ index }}:
                    <p  v-for="(attributo,key,i) in articolo">
                        {{ i }} - {{ key }} : {{ attributo }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {
       colori : ['rosso','giallo','verde','arancione','rosso'],
       articoli : [
            { id : Math.random(),nome : 'mouse' , prezzo  : '25', 'categoria' : 'informatica' },
            { id : Math.random(),nome : 'videocamera' , prezzo  : '250', 'categoria' : 'video' },
            { id : Math.random(),nome : 'tv' , prezzo  : '500', 'categoria' : 'televisioni' },
       ]
    },
    mounted : function(){
        
    },
    methods : {
        
    }
})
</script>
</html>